# 复制为 .env 填写实际值

MYSQL_HOST=47.96.152.190
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=!software2303
MYSQL_DATABASE=overseas_chinese_artifacts
MYSQL_TABLE=artifact

HARVARD_IMAGE_DIR=C:\Users\Administrator\Desktop\harvard\harvard
